@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Resetting default margin and padding for body and html */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents unwanted scrolling */
  }
  

/* Animation for moving twinkling image to the left */
@keyframes moveTwinkleLeft {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -100% 0; /* Adjust the percentage as needed */
    }
}

.animate-move-twinkle-back {
    animation: moveTwinkleLeft 50s linear infinite; /* Adjust the duration as needed */
}

@keyframes moveCloudsRight {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0; /* Adjust the percentage as needed */
    }
}

.animate-move-clouds {
    animation: moveCloudsRight 20s linear infinite; /* Adjust the duration as needed */
}


