@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Animation for moving twinkling image to the left */
@keyframes moveTwinkleLeft {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -100% 0; /* Adjust the percentage as needed */
    }
}

.animate-move-twinkle-back {
    animation: moveTwinkleLeft 50s linear infinite; /* Adjust the duration as needed */
}

@keyframes moveCloudsRight {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0; /* Adjust the percentage as needed */
    }
}

.animate-move-clouds {
    animation: moveCloudsRight 50s linear infinite; /* Adjust the duration as needed */
}